.box {
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

#hero-image {
    height: 180px;
}

.product-box {
    height: 75px;
}

.service-box {
    height: 100px;
}

#footer-box {
    height: 75px;
}